@{
    ViewData["Title"] = "";
}
<div class="box box-content">
    <!-- About -->
    <div class="pb-0 pb-sm-2">
        <h1 class="title title--h1 first-title title__separate">Qui suis-je ?</h1>
        Je m'appelle <b>Florian Rampin</b>, je suis né à Toulon en 1990.<p><p>
        Tombé dans la technologie depuis mon plus jeune âge et après une adolescence de geek à toucher à tout dans ce domaine, la logique fût de poursuivre cette passion en milieu professionnel.<p>
        Après de nombreuses années à l'école, me voilà aujourd'hui responsable d'un support technique pour un logiciel de facturation.<p>
    </div>

    <!-- What -->
    <div class="mt-1">
        <h2 class="title title--h3">Un petit récap !</h2>
        <div class="row">
            <!-- Case Item -->
            <div class="col-12 col-lg-6">
                <div class="case-item">
                    <img class="case-item__icon" src="~/icons/icon-design.svg" alt=""/>
                    <div>
                        <h3 class="title title--h4">Support Technique niveau 2</h3>
                        <p class="case-item__caption">Responsable service, formateur, industrialisation de procédure interne, traitement de bug et évol..</p>
                    </div>
                </div>
            </div>

            <!-- Case Item -->
            <div class="col-12 col-lg-6">
                <div class="case-item">
                    <img class="case-item__icon" src="~/icons/icon-dev.svg" alt=""/>
                    <div>
                        <h3 class="title title--h4">Développement Web</h3>
                        <p class="case-item__caption">C#/AspnetCore (<a href="https://www.florianrampin.fr">florianrampin.fr</a>), PHP/Symfony (<a href="https://portlamontagne.fr">portlamontagne.fr</a>)...</p>
                    </div>
                </div>
            </div>

            <!-- Case Item -->
            <div class="col-12 col-lg-6">
                <div class="case-item">
                    <img class="case-item__icon" src="~/icons/icon-app.svg" alt=""/>
                    <div>
                        <h3 class="title title--h4">Electronique/Domotique</h3>
                        <p class="case-item__caption">Une formation en alternance entre l'audiovisuel et les automates programmables militaires</p>
                    </div>
                </div>
            </div>

            <!-- Case Item -->
            <div class="col-12 col-lg-6">
                <div class="case-item">
                    <img class="case-item__icon" src="~/icons/icon-education.svg" alt=""/>
                    <div>
                        <h3 class="title title--h4">Association portlamontagne.fr</h3>
                        <p class="case-item__caption">Président de l'Association PortLaMontagne sur l'escalade à Toulon et alentours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>