bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.MaPagePerso.net/.idea/encodings.xml
.idea/.idea.MaPagePerso.net/.idea/indexLayout.xml
.idea/.idea.MaPagePerso.net/.idea/vcs.xml
.idea/.idea.MaPagePerso.net/.idea/dataSources/b6b43239-195f-4ca3-9bd3-2bf52ae0b5a6.xml
.idea/.idea.MaPagePerso.net/.idea/dataSources.xml
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e.xml
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/db_accessadmin.KqpDJg.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/db_backupoperator.R9Ifpg.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/db_datareader.To823g.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/db_datawriter._tp55w.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/db_ddladmin.hGWOrg.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/db_denydatareader.2lWItw.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/db_denydatawriter.iqHLwA.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/db_owner.souIfA.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/db_securityadmin.Dj5jKg.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/dbo.sYMBAA.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/guest.2C3iBQ.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/INFORMATION_SCHEMA.NBgcMw.meta
.idea/.idea.MaPagePerso.net/.idea/dataSources/02070e84-c14e-42d9-978a-564cc94cc14e/storage_v2/_src_/database/MaPagePerso.net_db.uHuQCg/schema/sys.zb4BAA.meta
.idea/config/applicationhost.config
.idea
.vs
MaPagePerso.net/appsettings.Development.json
.vs
