bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.MaPagePerso.net/.idea/encodings.xml
.idea/.idea.MaPagePerso.net/.idea/indexLayout.xml
.idea/.idea.MaPagePerso.net/.idea/vcs.xml
.idea/.idea.MaPagePerso.net/.idea/dataSources/b6b43239-195f-4ca3-9bd3-2bf52ae0b5a6.xml
