@model List<Project> 
@{
    ViewData["Title"] = "Mes projets";
}

<div class="box box-content">
    <div class="pb-2">
        <h1 class="title title--h1 first-title title__separate">Mes projets</h1>
    </div>

    <!-- News -->
    <div class="news-grid">
        <!-- Post -->
        @foreach (Project project in Model)
        {
            <article class="news-item box">
                <a href="https://thelasthope.fr">
                    <div class="news-item__image-wrap overlay overlay--45">
                        <div class="news-item__date">@project.Language</div>
                        <img class="cover lazyload" src="~/images/projects/@project.Image" alt=""/>
                    </div>
                </a>
                <div class="news-item__caption">
                    <h2 class="title title--h4">@project.Title - <small>@project.CreatedAt.ToString("yyyy")</small></h2>
                    <p>@project.Description</p>
                </div>
            </article>
        }


    </div>
</div>