@{
    ViewData["Title"] = "Curriculum Vitae";
}

<div class="box box-content">
    <div class="pb-2">
        <h1 class="title title--h1 first-title title__separate">Curriculum Vitae</h1>
    </div>

    <!-- Experience -->
    <div class="row">
        <div class="col-12">
            <h2 class="title title--h3"><img class="title-icon" src="@Url.Content("~/icons/dark/icon-experience.svg")" alt=""/> Expérience Pro</h2>
            <div class="timeline">
                <!-- Item -->
                <article class="timeline__item">
                    <h5 class="title title--h5 timeline__title">Responsable support hotline niveau II - Technicien logiciels / Dev. Web Symfony</h5>
                    <span class="timeline__period">2018 - 2020 | Gentel Global Solution - LA GARDE</span>
                    <p class="timeline__description">Gestion d’équipe, Formateur, maintenance du parc, traitement de bugs et évolutions, développement d’un outil de télégestion (full stack Symfony 5)…</p>
                </article>

                <!-- Item -->
                <article class="timeline__item">
                    <h5 class="title title--h5 timeline__title">Responsable support hotline niveau II - Technicien logiciels</h5>
                    <span class="timeline__period">2014 - 2018 | AidesNSoft - LA GARDE</span>
                    <p class="timeline__description">Gestion d’équipe, Formateur, industrialisation procédures internes, traitement de bugs et évolutions, développement d’outils support(C#), relation client, salon professionnel...</p>
                </article>

                <!-- Item -->
                <article class="timeline__item">
                    <h5 class="title title--h5 timeline__title">Développement de systèmes et traitement d’obsolescences</h5>
                    <span class="timeline__period">2012 - 2014 | Naval-Group - Base Navale de TOULON</span>
                    <p class="timeline__description">Technologies Analogiques/Numériques, rédaction de manuels, configuration Système et réseau</p>
                </article>
            </div>
        </div>

        <div class="col-12">
            <h2 class="title title--h3"><img class="title-icon" src="@Url.Content("~/icons/dark/icon-education.svg")" alt=""/> Formation</h2>
            <div class="timeline">
                <!-- Item -->
                <article class="timeline__item">
                    <h5 class="title title--h5 timeline__title">DUT GEII par Alternance - DCNS Services TOULON (niveau)</h5>
                    <span class="timeline__period">2012 - 2014</span>
                    <p class="timeline__description">IUT - LA GARDE</p>
                </article>

                <!-- Item -->
                <article class="timeline__item">
                    <h5 class="title title--h5 timeline__title">License Informatique 1ère année (niveau)</h5>
                    <span class="timeline__period">2010 - 2012</span>
                    <p class="timeline__description">FAC - LA GARDE</p>
                </article>
            </div>
        </div>
    </div>
    <div class="col-12">
        <h2 class="title title--h3"><img class="title-icon" src="@Url.Content("~/icons/dark/icon-photo.svg")" alt=""/> Intérêts</h2>
        <div class="timeline">
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">Gestion d'un serveur Informatique</h5>
                <p class="timeline__description">site web, Cloud, services multimédia...</p>
            </article>

            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">Développement Web C#(ASPNETCORE) / PHP(Symfony)</h5>
                <p class="timeline__description">Outils internes société et télégestion pour clients finaux</p>
            </article>
        </div>
    </div>
</div>