@model MaPagePerso.net.Form.Mailer;

@{
    @Model
    ViewData["Title"] = "Mes projets";
}

<div class="box box-content">
    <div class="pb-2">
        <h1 class="title title--h1 first-title title__separate">Contact</h1>
    </div>

    <!-- Contact -->
    <h2 class="title title--h3">Formulaire de contact</h2>


    <form class="contact-form" asp-action="Mailer" method="post">
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <input asp-for="Username" type="text" class="form-control" placeholder="Qui suis-je ?" required="required" autocomplete="on">

                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-12 col-md-6">
                <input asp-for="Mail" type="email" class="form-control" placeholder="Adresse email" required="required" autocomplete="on">

                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-12 col-md-12">
                <textarea asp-for="Content" class="textarea form-control" placeholder="Mon message"  rows="4" required="required"></textarea>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-left">
                <div id="validator-contact" class="hidden"></div>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2 text-right">
                <button type="submit" class="btn"><i class="font-icon icon-send"></i> Envoyer le message</button>
            </div>
        </div>
    </form>
</div>