/* -----------------------------------------------------------------
    - General Styles
----------------------------------------------------------------- */

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

html {
  font-size: rem(16px);
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-x: hidden;
}

body, html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: $gradient-bg;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $body-color;
  font-family: $main-font;
  font-weight: $weight-400;
  font-size: rem(14px);
  line-height: 1.7;
  min-height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  
  @media only screen and (max-width: $small) {
    line-height: 1.6;
  }
}

html.is-scroll-disabled body {
  height: 100vh;
  overflow: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html.is-scroll-disabled {
    overflow: hidden;
  }
}

.no-scroll {
  overflow: hidden;
  -ms-overflow-style: none;
}

.no-scroll-height {
  overflow-x: hidden;
}

.svg-defs {
  position: absolute;
  height: 0;
  width: 0;
}

// Background
.bg {
  &-triangles {
    background-image: url(../images/triangles-top.svg),
	                  url(../images/triangles-bottom.svg),
					  $gradient-bg;
	background-position: left top, right bottom;
    background-repeat: no-repeat;
	background-size: inherit;
	
	@media only screen and (max-width: $small) {
	  background-size: contain;
	}	
  }
}