/* -----------------------------------------------------------------
    - News
----------------------------------------------------------------- */ 

.news-grid {
  @include flex($wrap: wrap);
  margin-left: rem(-15px);
  margin-right: rem(-15px);
  
  @media only screen and (max-width: $large) {
    margin-left: 0;
    margin-right: 0;
  }
}

.news-item {
  background-color: $overlay-light-color;
  margin-bottom: rem(30px);
  margin-left: rem(15px);
  margin-right: rem(15px);
  padding: 0;
  width: calc(50% - 30px);
  
  @media only screen and (max-width: $large) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
	
	&:last-child {
	  margin-bottom: 0;
	}
  }
  
  @media only screen and (max-width: $small) {
    margin-bottom: rem(20px);
  }
  
  &:hover .news-item__image-wrap::before,
  &:hover .news-item__image-wrap::after {
    opacity: 1;
  }
  
  &__image-wrap {
    overflow: hidden;
	border-radius: $border-rounded $border-rounded 0 0;
	height: rem(224px);
	position: relative;
	
	@media only screen and (max-width: $large) {
	  height: rem(288px);
	}
	
	@media only screen and (max-width: $small) {
	  height: rem(192px);
	}
	
	&::before {
	  opacity: 0;
	  transition: opacity .5s ease-in-out;
	}
	
	&::after {
	  content: '';
	  background-image: url(../icons/icon-news.svg);
	  height: rem(40px);
	  margin: auto;
	  opacity: 0;
	  pointer-events: none;
	  @include position(absolute, $top: 0, $left: 0, $bottom: 0, $right: 0);
	  transition: opacity .5s ease-in-out;
	  width: rem(40px);
	  z-index: 2;
	}
  }
  
  &__date {
    background-color: $orange-color;
	color: $white-color;
	border-radius: $border-rounded 0 $border-rounded 0;
	font-size: rem(22px);
	font-weight: $weight-600;
	line-height: 1.3;
	padding: rem(10px) rem(20px);
	@include position(absolute, $top: 0);
	text-align: center;
	z-index: 2;
	
	span {
	  font-size: rem(13px);
	  font-weight: $weight-400;
	  display: block;
	}
	
	@media only screen and (max-width: $small) {
	  font-size: rem(18px);
	  line-height: 1.2;
	  padding: rem(9px) rem(16px);
	  
	  span {
	    font-size: rem(10px);
	  }
	}
  }
  
  &__link {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  
  &__caption {
    padding: rem(24px) rem(24px) rem(8px);
	
	@media only screen and (max-width: $small) {
	  padding: rem(19) rem(16px) 0;
	}
  }
  
  p {
	line-height: 1.5;
	
	@media only screen and (max-width: $small) {
	  font-size: rem(14px);
	}
  }
}