/* -----------------------------------------------------------------
    - Typography
----------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-family: $main-font;
  font-weight: $weight-600;
  line-height: 1.3;
}

.title { 
  &--h1 {
    font-size: rem(32px);
	margin-bottom: 1.3rem;
	
	@media only screen and (max-width: $small) {
	  font-size: rem(28px);
	  margin-bottom: 1rem;
	}  
	
  }

  &--h2 {
    font-size: rem(26px);
	
	@media only screen and (max-width: $small) {
	  font-size: rem(22px);
	}
  }

  &--h3 {
    font-size: rem(24px);
    margin-bottom: rem(16px);
	
	@media only screen and (max-width: $small) {
	  font-size: rem(18px);
	}	
  }
  
  &--h4 {
    font-size: rem(18px);
	
	@media only screen and (max-width: $small) {
	  font-size: rem(16px);
	}
  }
  
  &--h5 {
    font-size: rem(16px);
	
	@media only screen and (max-width: $small) {
	  font-size: rem(14px);
	}
  }
  
  &--h6 {
    font-size: rem(14px);
	
	@media only screen and (max-width: $small) {
	  font-size: rem(12px);
	}
  }

  &--tone {
    color: $accent-color;
  }
  
  &-icon {
    $size: rem(30px);
	margin-right: rem(8px);
	margin-top: rem(-4px);
	height: $size;
	width: $size;
	
	@media only screen and (max-width: $small) {
	  height: #{$size / 1.2};
	  width: $size;
	}
  }
  
  &__separate {
    margin-bottom: rem(37px);
    position: relative;
	
    &::before,
    &::after {
      content: '';
	  background-color: $accent-color;
	  border-radius: rem(8px);
	  height: 5px;
	  @include position(absolute, $left: 0, $bottom: rem(-18px));
	  width: rem(50px);
	  z-index: 1;
    }
    
	&::after {
	  background-color: $orange-color;
	  width: rem(16px);
	}
	
    @media only screen and (max-width: $small) {
	  margin-bottom: rem(25px);
	  
	  &::before,
      &::after {
	    height: rem(3px);
	    bottom: rem(-10px);
	  }
	  
	  &::before {
	    width: rem(48px);
      }
	  
	  &::after {
	    width: rem(16px);
      }	  
	}
  }
}

// Font weight
.weight {
  &--400 {
    font-weight: $weight-400; //regular
  }
  &--500 {
    font-weight: $weight-500; //medium
  }
  &--600 {
    font-weight: $weight-600; //semi bold
  }
}

.overhead {
  color: rgba($body-color,.8);
  font-size: rem(12px);
  display: block;
  text-transform: uppercase;
}

.block-quote {
  font: {
	size: rem(20px);
	weight: $weight-400;
	style: italic;
  }
  margin: rem(29px) 0;
  position: relative;
  line-height: 1.6;
  
  @media only screen and (max-width: $large) {
    padding-left: rem(60px);
  }  
  
  @media only screen and (max-width: $small) {
    font-size: rem(18px);
	margin: rem(10px) 0 rem(20px);
	padding-left: 0;
	padding-top: rem(40px);
  }
  
  &::before {
    background-image: url(../icons/icon-quote.svg);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
    content: '';
    height: rem(34px);
    margin: 0 auto;
	@include position(absolute, $top: 0, $left: rem(-54px));
    width: rem(34px);
	
	@media only screen and (max-width: $large) {
      left: 0;
	}
	
	@media only screen and (max-width: $small) {
	  right: 0;
	}
  }
  
  &__author {
    font: {
	  size: rem(14px);
	  style: normal;
    }
	display: block;
	margin-top: rem(10px);
	padding-left: rem(48px);
	position: relative;
	
	@media only screen and (max-width: $small) {
	  font-size: rem(14px);
	  margin-top: 0;
	  padding-left: rem(32px);
	}
	
	&::before {
	  content: '';
	  background-color: $body-color;
	  height: 1px;
	  margin-bottom: auto;
	  margin-top: auto;
	  @include position(absolute, $top: 0, $left: 0, $bottom: 0);
	  width: rem(32px);
	  
	  @media only screen and (max-width: $small) {
	    width: 1rem;
	  }
	}
  }
}

a {
  color: $accent-color;
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  transition: color .3s cubic-bezier(.72,.16,.345,.875);
  
  &:hover {
    color: $accent-color;
	outline: none;
    text-decoration: underline;
  }

  &.decoration--none {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  -webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
}

iframe {
  background-color: $body-color;
  border: 0;
  display: block;
  height: 100%;
  width: 100%;  
}

.cover {
  border-radius: rem(6px);
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
  height: 100%;
  width: 100%;
  
  @media only screen and (max-width: $small) {
    border-radius: rem(4px);
  }
}

::-moz-selection {background: transparent; color: $accent-color;}
	 ::selection {background: transparent; color: $accent-color;} 
