<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] FlorianRampin.fr</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Laura - v4.7.0
    * Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
        <ul>
            <li>
                <a class="nav-link scrollto active" href="#hero">Accueil</a>
            </li>
            <li>
                <a class="nav-link scrollto" href="#about">A propos</a>
            </li>
            <li>
                <a class="nav-link scrollto" href="#resume">CV</a>
            </li>
            <li>
                <a class="nav-link scrollto " href="#portfolio">Projets</a>
            </li>
            <li>
                <a class="nav-link scrollto" href="#contact">Contact</a>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

</header><!-- End Header -->


<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Florian Rampin</h1>
        <h2>Développeur de logiciels métiers</h2>
        <a href="#about" class="btn-scroll scrollto" title="Scroll Down">
            <i class="bx bx-chevron-down"></i>
        </a>
    </div>
</section><!-- End Hero -->

<main id="main">

@RenderBody()

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>Florian Rampin</h3>
        <p>Développeur de logiciels métiers</p>
        <div class="copyright">
            &copy; Copyright
            <strong>
                <span>FlorianRampin</span>
            </strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<!-- Vendor JS Files -->
<script src="~/vendor/purecounter/purecounter.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/js/main.js"></script>

<script >
        $(document).ready(function () {
            
            $.ajax(window.location.origin + '/Layout/GetYearsOld', {
                success: function (data) {
                   document.getElementById('years-old-id').textContent = data + " ans";
                },
                error: function () {
                    // show alert or something
                }
            });
            $.ajax(window.location.origin + '/Layout/GetExperienceYears', {
                success: function (data) {
                   document.getElementById('years-experience-id').textContent = data + " ans";
                },
                error: function () {
                    // show alert or something
                }
            });
        })
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>